html {
  position: relative;
}
a{
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
#header-hamburger {
  display: none;
  color: #f03f35;
}
#header-links {

  display: flex;
  gap: 1rem;
}
.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#gwach-logo {
  width: 160px;
  height: 140px;
  animation: Grow 50ms infinite; 
}

#gif-logo {
  width: 130px;
  /* height: 140px; */
 
}
#header-logo {
  width: 130px;
  /* height: 140px; */
  animation: Grow 6s infinite;
}

#home-link{
  display: flex;
}

#footer-logo {
  width: 20px;
  animation: Spin 5s infinite; 
}

footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
#container {
  width: 100%;
  height: 50rem;
  border: 2px solid #a9a7a7;
  display: flex;
  position: relative;
  height: 100%;
}

.box {
  position: absolute;
  background-color: transparent;
  border: none;
  max-width: 200px;
}

.images {
  width: 100%;
  min-width: 100px;
  /* height: 200px; */
  object-fit: contain;
  padding: 0;
}

.draggable {
  cursor: pointer;
}

.grow-on-drag {
/* animation: Grow 50ms linear; */
transform: scale(1.3);
}
.shrink-on-drop {
/* animation: Grow 50ms infinite; */
transform: scale(1);
}

@media screen and (max-width: 500px) {
  .top-header {
    
    justify-content: space-around;
    align-items: center;
  }
  .header-link {
    display: none; 
  }
  #header-logo {
    margin-top: 1vh;
    width: 100px;
  }
  #gif-logo {
    display: none;
  }
  #header-hamburger {
    display: block;
  }
  #home-link{
    display: none;
    font-size: 3rem;
  }
  .images{
    width: 80px
  }

}

@keyframes Grow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
 
  100% {
    transform: scale(1);
  }
}
  @keyframes Spin {
    0% {
      transform: scale(1);
    }
    25% {
      transform: rotate(180deg);
    }
   
    100% {
      transform: rotate(180deg);
    }
  
}